# ============================================================
# TG Bot System Configuration
# ============================================================

# Mihomo API
MIHOMO_API="http://127.0.0.1:9999"

# 远程版本地址
TG_VERSION_URL=""

# 更新软件包地址
TG_PACKAGE_URL=""
