[Unit]

Description=Daily Telegram Backup



[Timer]

OnCalendar=*-*-* 03:00:00

Persistent=true

Unit=tg_backup.service



[Install]

WantedBy=timers.target

