# ============================================================
# TG Bot Device Configuration
# ============================================================

# 服务器显示名称
DEVICE_NAME=""

# 系统名称
OS_VERSION=""

# 数据目录
DATA_PATH="/mnt/photos"
