# ============================================================
# TG Bot User Configuration
# ============================================================

# Telegram Bot Token
TOKEN=""

# Telegram管理员ID
ADMINS=""

# 主动报警Chat ID
ADMIN_CHAT_ID=""

# WOL电脑MAC
WIN_MAC=""
